@charset "utf-8";
/* CSS Document */

@media only screen and (max-width: 639px) {

#fixed-cover {
    height: 80px;
}

#management-bg {
    background: url(../img/management-bg.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0.5%;
    position: relative;
    z-index: -1;
}
    
    
#management-bg::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.7);
}
    
#management-content {
    background-color: white;
    width: 80%;
    margin: 5% auto;
    padding: 1% 5% 5% 5%;
    opacity: 0.85;
}
    
.message {
    width: 75%;
    display: block;
    margin: 0 auto;
}
    
.management {
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.5em;
    line-height: 0;
    color:rgb(69, 101, 151);
    font-weight: 500;
    margin-bottom: 15%;
}
    
.title {
    text-align: center;
    font-size: 15px;
    letter-spacing: 0.5em;
    margin-top: 7%;
    color:rgb(69, 101, 151);
    font-weight: 500;
}

.text {
    margin: 10% 0%;
    text-align: justify;    
}

.text2 {
    text-align: justify;
}


.line {
    border-bottom: 4px solid rgb(204, 217, 231);
}

.compnay-infomation {
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.5em;
    margin-top: 7%;
    margin-bottom: 7%;
    color:rgb(69, 101, 151);
    font-weight: 500;
}

.item {
    font-size: 18px;
    color:rgb(69, 101, 151);
    font-weight: 500;
    margin-top: 3%;
}

}


@media only screen and (min-width: 640px) {

#management-bg {
    background: url(../img/management-bg.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0.5%;
    position: relative; 
}
    
    
#management-bg::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.7);
}
    
#management-content {
    background-color: white;
    width: 60%;
    margin: 5% auto;
    padding: 1% 5% 5% 5%;
    opacity: 0.85;
}
    
.message {
    width: 75%;
    display: block;
    margin: 0 auto;
}
    
.management {
    text-align: center;
    font-size: 24px;
    letter-spacing: 0.5em;
    line-height: 0;
    color:rgb(69, 101, 151);
    font-weight: 500;
}
    
.title {
    text-align: center;
    font-size: 22px;
    letter-spacing: 0.5em;
    margin-top: 7%;
    color:rgb(69, 101, 151);
    font-weight: 500;
}

.text {
    font-size: 16px;
    margin: 4% 0%;
    text-align: justify;    
}

.text2 {
    font-size: 16px;
    text-align: justify;
}


.line {
    border-bottom: 4px solid rgb(204, 217, 231);
}

.compnay-infomation {
    text-align: center;
    font-size: 24px;
    letter-spacing: 0.5em;
    margin-top: 7%;
    margin-bottom: 7%;
    color:rgb(69, 101, 151);
    font-weight: 500;
}

.item {
    font-size: 20px;
    color:rgb(69, 101, 151);
    font-weight: 500;
    margin-top: 3%;
}

}